<div id="tabs">
<div class="tab-panel">
<div class="lift-up"><span class="glyphicon glyphicon-chevron-up"></span></div>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#<%= @document.id %>" data-toggle="tab"><%= @document.file_name %>&nbsp;&nbsp;<span class="times">&times;</span></a></li>
</ul>
</div>


<div class="tab-content">
  <div class="tab-pane active" id="<%= @document.id %>">  
       <%= link_to "", parse_url(@document.uploaded_file.url), class: "embed"  %>
  </div>
</div>
</div>

<script>
      $('a.embed').gdocsViewer({width: 800});
      $('#embedURL').gdocsViewer();   
</script>