
ul.navbar-right {
	margin-right: 10px !important; 
}


body {
	margin-top: 70px;
	background-color: #EFEFEF; 
    font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif; 
    font-size: 14px; 
} 

#container { 
  width: 800px; 
  margin: 0 auto; 
  background-color: #FFF; 
  padding: 20px 40px; 
  border: solid 1px #BFBFBF;   
} 
 
