#new_document {
	height: 200px;
	margin-left:200px;
	width: 300px;

	.col-sm-4 {
		width: 310px;
	}

	.col-sm-10 {
		margin-top: 20px;
		margin-left: 0px;
	}


}

.new_document_header {
	margin-bottom: 20px;
	text-align: center;
}