.document_list_header, .document_list, .document_details { 
    width:800px; 
    font-weight:bold; 
    font-size:12px; 
    overflow:hidden; 
  
} 
.file_name_header, .file_name { 
    width:350px; 
    float:left; 
}

.file_name {
  padding-left: 20px;
} 
.file_size_header, .file_size { 
    width:100px; 
    float:left; 
} 
.file_last_updated_header, .file_last_updated { 
    width:150px; 
    float:left; 
} 
.document_list { 
    margin-top: 20px; 
} 
.document_details { 
    font-weight:normal; 
    height:25px; 
    line-height:25px; 
    border:1px solid #FFF; 
    width:730px; 
    color:#4F4F4F; 
} 
  
.document_details a, .document_details a:visited { 
    text-decoration:none; 
    color:#1D96EF; 
    font-size:12px; 
} 

#menu { 
    width:760px; 
    margin:20px auto ; 
    overflow:hidden; 
} 
#menu ul{ 
    padding:0; 
    margin:0; 
} 
#menu ul li { 
    list-style:none; 
    float:left; 
    display:block; 
    margin-right:10px; 
  
  
} 
#menu ul li a, #menu ul li a:visited{ 
    display:block; 
    padding:0 15px; 
    line-height:25px; 
    text-decoration:none; 
    color:#45759F; 
    background:#EFF8FF; 
    border:1px solid #CFEBFF; 
} 
#menu ul li a:hover, #menu ul li a:active{ 
    background:#DFF1FF; 
    border:1px solid #AFDDFF; 
} 

.file_name {
    a {
        position:relative;
        top: 1px;
    }
}


.folder  { 
    background:url("../images/folder.png") no-repeat scroll left center transparent; 
    background-size: 18px 18px;

} 
  
.document { 
    background:url("../images/edit.png") no-repeat scroll left center transparent; 
    background-size: 18px 18px;
} 
.folder.document_details:hover, .shared_folder.document_details:hover, .file.document_details:hover  { 
    border:1px solid #DFDFDF; 
} 
.folder.document_details:hover  { 
    background:url("../images/folder.png") no-repeat scroll left center #EFEFEF; 
    background-size: 18px 18px;
} 
.shared_folder  { 
    background:url("../images/shared_folder.png") no-repeat scroll left center transparent; 
    background-size: 18px 18px;
} 
.shared_folder.document_details:hover  { 
    background:url("../images/shared_folder.png") no-repeat scroll left center #EFEFEF; 
    background-size: 18px 18px;
} 
.document.document_details:hover  { 
    background:url("../images/edit.png") no-repeat scroll left center #EFEFEF; 
    background-size: 18px 18px;
} 


.actions { 
    float:right; 
    font-size:11px; 
} 
.share, .rename, .download, .delete{ 
    float:left;  
} 
.document_details .share a,.document_details .rename a,.document_details .download a,.document_details .delete a{ 
    border: 1px solid #CFE9FF; 
    font-size: 11px; 
    margin-left: 5px; 
    padding: 0 2px; 
} 
.document_details .share a:hover,.document_details .rename a:hover,.document_details .download a:hover,.document_details .delete a:hover{ 
    border:1px solid #8FCDFF; 
} 
  
.document_details .delete a{ 
    color:#BF0B12; 
    border:1px solid #FFCFD1; 
} 
  
.document_details .delete a:hover{ 
    color:#BF0B12; 
    border:1px solid #FF8F93; 
} 